.ico-dashboards {
    background: url("~/assets/img/ico-dashboards.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-arrow-right {
    background: url("~/assets/img/ico-arrow-right.svg") no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}

.ico-settings {
    background: url("~/assets/img/ico-settings.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-catalog {
    background: url("~/assets/img/ico-catalog.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-delivery {
    background: url("~/assets/img/ico-delivery.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-payment {
    background: url("~/assets/img/ico-payment.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-blog {
    background: url("~/assets/img/ico-blog.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-review {
    background: url("~/assets/img/ico-review.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-users {
    background: url("~/assets/img/ico-users.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.ico-orders {
    background: url("~/assets/img/ico-orders.svg") no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}
